{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <h1 style="text-align: center; border: none;">Login - Sistema Acadêmico</h1>

    {% if error %}
        <p class="error-message">{{ error }}</p>
    {% endif %}

    <form action="/realizar_login" method="post">
        <div>
            <label for="usuario">Usuário:</label>
            <input type="text" id="usuario" name="usuario" required>
        </div>
        <div>
            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha" required>
        </div>
        <button type="submit">Entrar</button>
    </form>
{% endblock %}